{% extends 'base.html' %}

{% block content %}
 <h1>Colegios en el S.A.E.</h1>
 <div class="container">
 	<div class="row mt-5 justify-content-center">
 {% for colegio in colegios %}
 		<div class="card" style="width: 18rem;">
 			<div class="card-body">
 				<h5 class="card-title">{{colegio.nombre}}</h5>
 				<p class="card-text">{{colegio.comuna}}</p>
 				<p class="card-text">{{colegio.direccion}}</p>
 				<a href="/colegio/{{colegio.id}} " class="card-link">Ir</a>
 			</div>
 		</div>
 {% endfor %}		
 	</div>
 	<a class="btn btn-primary btn-lg" href="/colegio/create/" role="button">Agregar Colegio</a>
 </div>
{% endblock %}